Amdocs_PLDT.json
{
  "name": "Amdocs | PLDT",
  "nodes": [
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "7",
        "contextWindowLength": 10
      },
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1.3,
      "position": [
        2944,
        2048
      ],
      "id": "84af0358-7ef2-4e46-98ea-d12eb3686f49",
      "name": "Simple Memory3"
    },
    {
      "parameters": {
        "model": "qwen/qwen3-coder",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenRouter",
      "typeVersion": 1,
      "position": [
        2832,
        2032
      ],
      "id": "501cb424-b06a-40e3-8592-bdc127fdea78",
      "name": "OpenRouter Chat Model3",
      "credentials": {
        "openRouterApi": {
          "id": "TBhVPmR7gGBVePdU",
          "name": "OpenRouter account"
        }
      }
    },
    {
      "parameters": {
        "content": "# Network",
        "height": 448,
        "width": 784,
        "color": 6
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        2784,
        1776
      ],
      "id": "73100d84-4d86-4782-8a03-e0eebd02f6c1",
      "name": "Sticky Note5"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.body.User_Request }}",
        "hasOutputParser": true,
        "options": {
          "systemMessage": "# ROLE\nYou are a helpful network agent for a Telecommunications company responsible for assisting customers about the the network status in their area.\n\n# TASK\nYour task is to provide information asked by the customer and clarify any confusions without violating any rules and restrictions.\n\n## If no data record exists in the user's specified location:\n- double check if the specified location is a location inside one of the cities with an outage.\n- if not, then there is no outage in the user's specified location.\n\n# RESTRICTIONS\n- You are strictly a support agent for network status. Any other types of requests should be respectfully denied.\n "
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3.1,
      "position": [
        3072,
        1840
      ],
      "id": "90cc4a09-3a47-4256-9cf5-41db801df501",
      "name": "Network Agent"
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "a72bbfa1-7a04-4703-a1cc-ee522747ccd8",
        "responseMode": "responseNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        2896,
        1840
      ],
      "id": "c0bec474-06f1-482b-a4fd-d8fe313a77b1",
      "name": "Network Webhook",
      "webhookId": "a72bbfa1-7a04-4703-a1cc-ee522747ccd8"
    },
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "8",
        "contextWindowLength": 10
      },
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1.3,
      "position": [
        2944,
        2512
      ],
      "id": "db2946da-c60e-4464-b4e2-8b40c2ab0444",
      "name": "Simple Memory4"
    },
    {
      "parameters": {
        "model": "qwen/qwen3.5-flash-02-23",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenRouter",
      "typeVersion": 1,
      "position": [
        2832,
        2496
      ],
      "id": "b4c4bc44-8cdb-42d7-a718-28fe939d8dbc",
      "name": "OpenRouter Chat Model4",
      "credentials": {
        "openRouterApi": {
          "id": "TBhVPmR7gGBVePdU",
          "name": "OpenRouter account"
        }
      }
    },
    {
      "parameters": {
        "content": "# General Knowledge",
        "height": 864,
        "width": 784,
        "color": 6
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        2784,
        2240
      ],
      "id": "12f25393-035d-4e10-b5d0-972ba283448a",
      "name": "Sticky Note6"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.body.User_Request }}",
        "options": {
          "systemMessage": "You are a detail-oriented agent responsible for answering the questions of your customer.\n\nYou have access to a tool that contains information on how to address their concerns. You must use this tool anytime the customer asks about anything.\n\nThe tool contians information about:\n- blinking red light\n- Slow Internet Speed\n- Billing Payment Channels\n\n"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3.1,
      "position": [
        3072,
        2304
      ],
      "id": "104ed05a-bac9-490c-9c90-938892410ee0",
      "name": "General Knowledge Agent"
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "41828f4a-0ee2-405c-becf-f7d9fea19a56",
        "responseMode": "responseNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        2896,
        2304
      ],
      "id": "dae6ad0f-1bfe-4082-86ba-d527b1b7663f",
      "name": "General Knowledge Webhook",
      "webhookId": "41828f4a-0ee2-405c-becf-f7d9fea19a56"
    },
    {
      "parameters": {
        "mode": "retrieve-as-tool",
        "toolDescription": "use this tool if the customer mentions any of the following:\n- blinking Red Light\n- Slow Internet Speed\n- Billing Payment Channels\n\nthis tool will contain informatio  on how to address their concern.",
        "tableName": {
          "__rl": true,
          "value": "rpc/match_documents",
          "mode": "list",
          "cachedResultName": "rpc/match_documents"
        },
        "topK": 5,
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.vectorStoreSupabase",
      "typeVersion": 1.3,
      "position": [
        3136,
        2512
      ],
      "id": "5e419f25-4b97-4a14-abc4-6d07ca7f8fbc",
      "name": "knowledge base",
      "credentials": {
        "supabaseApi": {
          "id": "YknCFx3chWNwiQ3P",
          "name": "Supabase account"
        }
      }
    },
    {
      "parameters": {
        "model": "qwen3-embedding:8b"
      },
      "type": "@n8n/n8n-nodes-langchain.embeddingsOllama",
      "typeVersion": 1,
      "position": [
        3088,
        2960
      ],
      "id": "3a99ae0b-b0fd-4d18-b009-7f7a5f9c6a89",
      "name": "Embeddings Ollama",
      "credentials": {
        "ollamaApi": {
          "id": "tIANWcgUxeV2ZDNU",
          "name": "Ollama account"
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.5,
      "position": [
        3376,
        1840
      ],
      "id": "3cc27866-1482-4bca-99b2-db6a60de440e",
      "name": "Respond to Network Webhook"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.5,
      "position": [
        3376,
        2304
      ],
      "id": "5b55e9c6-1160-4f1e-b002-91f2f03c888b",
      "name": "Respond to Knowledge Webhook"
    },
    {
      "parameters": {
        "descriptionType": "manual",
        "toolDescription": "Use this tool to retrieve network status of areas being repaired, including location ID, city, area code, status,  affected services, and estimated resolution time from the 'network_status' table using the location name provided by the customer.",
        "operation": "getAll",
        "tableId": "network_status",
        "limit": 10,
        "matchType": "allFilters",
        "filters": {
          "conditions": [
            {
              "keyName": "city",
              "condition": "eq",
              "keyValue": "={{ $fromAI('city', 'the city name as provided by the customer (Use camel case). Do not guess values. If you do not know what to input, ask for it respectfully.') }}"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.supabaseTool",
      "typeVersion": 1,
      "position": [
        3088,
        2032
      ],
      "id": "fd3de593-b130-4219-b5ce-fed77d1835e1",
      "name": "Read Network",
      "credentials": {
        "supabaseApi": {
          "id": "YknCFx3chWNwiQ3P",
          "name": "Supabase account"
        }
      }
    },
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "1",
        "contextWindowLength": 10
      },
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1.3,
      "position": [
        2144,
        2064
      ],
      "id": "d2ce434f-2e1e-4241-94f0-c2c7d400d073",
      "name": "Simple Memory5"
    },
    {
      "parameters": {
        "model": "meta-llama/llama-4-scout",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenRouter",
      "typeVersion": 1,
      "position": [
        2032,
        2048
      ],
      "id": "fb190023-e0d7-4bb2-90e8-12274c1aaaba",
      "name": "OpenRouter Chat Model5",
      "credentials": {
        "openRouterApi": {
          "id": "TBhVPmR7gGBVePdU",
          "name": "OpenRouter account"
        }
      }
    },
    {
      "parameters": {
        "content": "# Ticket [POST ticket error response]",
        "height": 448,
        "width": 784,
        "color": 5
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        1984,
        1776
      ],
      "id": "fd1b1030-1619-48e8-a56c-353d07723a9b",
      "name": "Sticky Note7"
    },
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "2",
        "contextWindowLength": 10
      },
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1.3,
      "position": [
        2144,
        2528
      ],
      "id": "82460c20-cd52-4745-b08e-e8084338b0e2",
      "name": "Simple Memory6"
    },
    {
      "parameters": {
        "model": "meta-llama/llama-4-scout",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenRouter",
      "typeVersion": 1,
      "position": [
        2032,
        2512
      ],
      "id": "8cf0421f-8541-4427-814c-1da0c86a26e4",
      "name": "OpenRouter Chat Model6",
      "credentials": {
        "openRouterApi": {
          "id": "TBhVPmR7gGBVePdU",
          "name": "OpenRouter account"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.body.User_Request }}",
        "options": {
          "systemMessage": "# ROLE\nYou are a detail-oriented support agent for a Telecommunications company responsible for providing customers about the details of their profile , balances billings, and services as well as service operation statuses.\n\n# TASK\nYour task is to provide information asked by the customer and clarify any confusions without violating any rules and restrictions.\n\n\n"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3.1,
      "position": [
        2272,
        2320
      ],
      "id": "f8b773cd-3504-492f-8364-8965e8c8eaf2",
      "name": "Billing Agent2"
    },
    {
      "parameters": {
        "content": "# Customer Info (post paid bal)",
        "height": 432,
        "width": 784,
        "color": 5
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        1984,
        2240
      ],
      "id": "92a59fb9-b36f-4cb0-9858-6e7783312dd0",
      "name": "Sticky Note8"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.5,
      "position": [
        2576,
        1856
      ],
      "id": "67c04fd7-c113-4ba6-93e1-eff6d680f0b7",
      "name": "Respond to Create Ticket Webhook"
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "f9b58b54-50ae-455a-a69d-97c0db3794e3",
        "responseMode": "responseNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        2064,
        1856
      ],
      "id": "1fe96ac1-90bf-4040-9bca-69a9b81118ed",
      "name": "Webhook1",
      "webhookId": "f9b58b54-50ae-455a-a69d-97c0db3794e3"
    },
    {
      "parameters": {
        "model": "meta-llama/llama-4-scout",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenRouter",
      "typeVersion": 1,
      "position": [
        2032,
        2960
      ],
      "id": "2952f5f5-86f2-4cd5-98e0-bf43f37b21a4",
      "name": "OpenRouter Chat Model7",
      "credentials": {
        "openRouterApi": {
          "id": "TBhVPmR7gGBVePdU",
          "name": "OpenRouter account"
        }
      }
    },
    {
      "parameters": {
        "content": "# Calendar\n",
        "height": 448,
        "width": 784,
        "color": 5
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        1984,
        2688
      ],
      "id": "4150567a-e3cd-441e-8af0-4f2d21dc0b8c",
      "name": "Sticky Note9"
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "ee77326d-b1c2-436d-8fa5-a29a44fd1494",
        "responseMode": "responseNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        2096,
        2320
      ],
      "id": "9a89b445-d8d9-4ae3-b5a7-5cf57dfcff4b",
      "name": "Webhook",
      "webhookId": "ee77326d-b1c2-436d-8fa5-a29a44fd1494"
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "3e7c2823-d046-499d-82c7-b592adeb1d29",
        "responseMode": "responseNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        2096,
        2768
      ],
      "id": "21484a7f-f982-4ecb-b93e-efbbf73d53b4",
      "name": "Webhook2",
      "webhookId": "3e7c2823-d046-499d-82c7-b592adeb1d29"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.5,
      "position": [
        2592,
        2768
      ],
      "id": "80b97ef5-4888-4abe-ac23-ababb12bc357",
      "name": "Respond to Webhook"
    },
    {
      "parameters": {
        "descriptionType": "manual",
        "toolDescription": "Create an event in Google Calendar",
        "calendar": {
          "__rl": true,
          "value": "89084f56faefdd85a764193118e07b47694ee5d5ebbecb3cdfb5bc3ab09e5f5c@group.calendar.google.com",
          "mode": "list",
          "cachedResultName": "N8N"
        },
        "start": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Start', `the start date and time of the consultation set by the user. if no date and time is mentioned, return an error message.`, 'string') }}",
        "end": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('End', `this field must be 15 minutes after the start date and time.`, 'string') }}",
        "useDefaultReminders": false,
        "additionalFields": {
          "summary": "Customer Meeting"
        }
      },
      "type": "n8n-nodes-base.googleCalendarTool",
      "typeVersion": 1.3,
      "position": [
        2416,
        2992
      ],
      "id": "7ce546dc-a38b-4fc9-8e0a-17def0c860dc",
      "name": "Create an event in Google Calendar",
      "credentials": {
        "googleCalendarOAuth2Api": {
          "id": "TtmPtgsQUTEEibXY",
          "name": "Google Calendar account"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.body.User_Request }}",
        "options": {
          "systemMessage": "=# ROLE\nYou are a detail-oriented support agent for a Telecommunications company responsible for setting appointments between customers and PLDT representatives.\n\n# TASK\nYour task is to set appointments without violating any rules and restrictions.\n\n# RULES/RESTRICTIONS\n- appointment start date cannot be set before {{ $now.format('cccc, MMMM d, yyyy') }}\n- appointment date should only last 15 minutes\n- you are striclty an agent for setting appointments. any other requests should be respectfully denied.\n- if availability is 'false', DO NOT set an appointment.\n- Do not offer alternative appointment dates"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3.1,
      "position": [
        2272,
        2768
      ],
      "id": "68fef334-aa1e-40ca-bede-63c9282de658",
      "name": "Calendar Agent"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.body.User_Request }}",
        "options": {
          "systemMessage": "# ROLE\nYou are a detail-oriented support agent for a Telecommunications company responsible for creating and retrieving support tickets for your customers.\n\n# RESTRICTIONS\nYou are strictly a support agent for support ticket creation and retrieval. Any other types of requests should be respectfully denied.\nYour response should be as concise as possible without leaving out any details to minimize token usage.\n \n# IMPORTANT NOTES\nWhen retrieving a ticket:\n- if there are no ticket details returned, there is no need to escalate the situation. Simply say that the customer has no existing tickets."
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3.1,
      "position": [
        2272,
        1856
      ],
      "id": "5a27aa4c-8a4f-45db-acaf-b1185ab19190",
      "name": "Ticket Agent1"
    },
    {
      "parameters": {
        "toolDescription": "Use this tool to retrieve ticket information using a service number.\nYou must provide the service number in the 'serviceNumber' parameter.\"\n\nThis tool returns the following fields:\n- promNumber\n- promCreated\n- promWorgName\n- prouProsCode\n- prosDescription\n- serviceId\n- promAcknowledgedby\n- promClearedby\n- promConfirmedby\n- promRelation\n- techId\n- techName\n- spiel\n\nIf the response fields are null, there is no need to escalate the situation and there is no need to clarify the service number. It just means that the customer has no existing tickets.",
        "url": "=https://pldtqa.pldt.com.ph/mobility/askpldt-api/customers/tickets/byServiceNumber/{{ $fromAI('serviceNumber', `The service number extracted from the conversation.`, 'string') }}",
        "options": {
          "redirect": {
            "redirect": {}
          }
        }
      },
      "type": "n8n-nodes-base.httpRequestTool",
      "typeVersion": 4.4,
      "position": [
        2512,
        2064
      ],
      "id": "8572a37e-443d-4b70-b308-8a07f29f85cb",
      "name": "GET Ticket"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.5,
      "position": [
        2592,
        2320
      ],
      "id": "64b9acf1-c21f-4670-9fb4-adacea57431a",
      "name": "Respond to Post Paid Webhook"
    },
    {
      "parameters": {
        "toolDescription": "Use this tool to create an HTTP POST request to submit a support ticket from the customer.",
        "method": "POST",
        "url": "https://pldtqa.pldt.com.ph/mobility/amdocs/api/customers/tickets",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Accept",
              "value": "application/json"
            },
            {
              "name": "X-Pldt-Auth-Token",
              "value": "AH5PMt52GhW33gv1zdwuum2X591vTyD637WmFwVZupTpXR4ZG8tKB6QoFGGj65AaYEKpfKrT9nGYeKxtKadp7GM"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {}
          ]
        },
        "options": {
          "redirect": {
            "redirect": {}
          }
        }
      },
      "type": "n8n-nodes-base.httpRequestTool",
      "typeVersion": 4.4,
      "position": [
        2352,
        2064
      ],
      "id": "0c4b7ae1-3dd0-4904-b52b-909b2a9e9498",
      "name": "POST Ticket"
    },
    {
      "parameters": {
        "toolDescription": "Use this tool to retrieve customer‑account information using a service number.\nYou must provide the service number in the 'serviceNumber' parameter.\n\nThe webhook returns customer account data with three main sections:\n1. `balanceProfile` - current and latest balance with statement info\n2. `serviceProfiles` - an array of active services (voice, DSL, etc.) with plan, credit, and status details\n3. `customerProfile` - full customer identity, billing, consent, loyalty, and verification data",
        "url": "=https://pldtqa.pldt.com.ph/mobility/amdocs/api/autocheckbalance/{{$fromAI('serviceNumber', `The service number extracted from the conversation.`, 'string')}}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Accept",
              "value": "application/json"
            },
            {
              "name": "X-Pldt-Auth-Token",
              "value": "AH5PMt52GhW33gv1zdwuum2X591vTyD637WmFwVZupTpXR4ZG8tKB6QoFGGj65AaYEKpfKrT9nGYeKxtKadp7GM"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "options": {},
        "optimizeResponse": true
      },
      "type": "n8n-nodes-base.httpRequestTool",
      "typeVersion": 4.4,
      "position": [
        2320,
        2512
      ],
      "id": "f0fd27ab-a7d8-447e-9399-f8624bdcfd1a",
      "name": "GET Customer Info"
    },
    {
      "parameters": {
        "formTitle": "Upload your data to test RAG",
        "formFields": {
          "values": [
            {
              "fieldLabel": "data",
              "fieldType": "file",
              "multipleFiles": false,
              "requiredField": true
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.formTrigger",
      "typeVersion": 2.2,
      "position": [
        2800,
        2736
      ],
      "id": "8d328ed8-670c-47eb-9cd5-585cd5fe6acb",
      "name": "Upload your file here",
      "webhookId": "3b0c065f-091d-4d61-923d-4ae22e20d4e7"
    },
    {
      "parameters": {
        "mode": "insert",
        "tableName": {
          "__rl": true,
          "value": "documents",
          "mode": "list",
          "cachedResultName": "documents"
        },
        "options": {
          "queryName": "match_documents"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.vectorStoreSupabase",
      "typeVersion": 1.3,
      "position": [
        3328,
        2736
      ],
      "id": "cda91aff-013c-440b-b4f7-951da4f3dc41",
      "name": "Supabase Vector Store",
      "credentials": {
        "supabaseApi": {
          "id": "YknCFx3chWNwiQ3P",
          "name": "Supabase account"
        }
      }
    },
    {
      "parameters": {
        "operation": "fromJson",
        "options": {}
      },
      "type": "n8n-nodes-base.extractFromFile",
      "typeVersion": 1.1,
      "position": [
        2992,
        2736
      ],
      "id": "45809541-5b9b-4d3d-a97e-1a57750b7154",
      "name": "Extract from File"
    },
    {
      "parameters": {
        "jsonMode": "expressionData",
        "jsonData": "={{ $json.data.pageContent }}",
        "options": {
          "metadata": {
            "metadataValues": [
              {
                "name": "metadata",
                "value": "={{ $json.data.metadata }}"
              }
            ]
          }
        }
      },
      "type": "@n8n/n8n-nodes-langchain.documentDefaultDataLoader",
      "typeVersion": 1.1,
      "position": [
        3328,
        2960
      ],
      "id": "cd4e40f0-7254-44e5-bd78-59efeddac73a",
      "name": "Default Data Loader"
    },
    {
      "parameters": {
        "fieldToSplitOut": "data",
        "include": "allOtherFields",
        "options": {}
      },
      "type": "n8n-nodes-base.splitOut",
      "typeVersion": 1,
      "position": [
        3168,
        2736
      ],
      "id": "ced4e0c5-4a8e-44c8-8a81-0c57b77aa791",
      "name": "Split Out"
    },
    {
      "parameters": {
        "descriptionType": "manual",
        "toolDescription": "Use this tool BEFORE setting new events.\n\nIf availability is false, an appointment cannot be set\notherwise, set the appointment.",
        "resource": "calendar",
        "calendar": {
          "__rl": true,
          "value": "89084f56faefdd85a764193118e07b47694ee5d5ebbecb3cdfb5bc3ab09e5f5c@group.calendar.google.com",
          "mode": "list",
          "cachedResultName": "N8N"
        },
        "timeMin": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Start_Time', `the start date and time of the consultation set by the user. if no date and time is mentioned, return an error message.`, 'string') }}",
        "timeMax": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('End_Time', `this field must be 15 minutes after the start date and time.`, 'string') }}",
        "options": {}
      },
      "type": "n8n-nodes-base.googleCalendarTool",
      "typeVersion": 1.3,
      "position": [
        2576,
        2992
      ],
      "id": "b26071f7-8c87-43fd-89d2-8bc7ec6ec203",
      "name": "Get availability in a calendar in Google Calendar",
      "credentials": {
        "googleCalendarOAuth2Api": {
          "id": "TtmPtgsQUTEEibXY",
          "name": "Google Calendar account"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Simple Memory3": {
      "ai_memory": [
        [
          {
            "node": "Network Agent",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "OpenRouter Chat Model3": {
      "ai_languageModel": [
        [
          {
            "node": "Network Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Network Agent": {
      "main": [
        [
          {
            "node": "Respond to Network Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Network Webhook": {
      "main": [
        [
          {
            "node": "Network Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Simple Memory4": {
      "ai_memory": [
        [
          {
            "node": "General Knowledge Agent",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "OpenRouter Chat Model4": {
      "ai_languageModel": [
        [
          {
            "node": "General Knowledge Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "General Knowledge Agent": {
      "main": [
        [
          {
            "node": "Respond to Knowledge Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "General Knowledge Webhook": {
      "main": [
        [
          {
            "node": "General Knowledge Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "knowledge base": {
      "ai_tool": [
        [
          {
            "node": "General Knowledge Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Embeddings Ollama": {
      "ai_embedding": [
        [
          {
            "node": "knowledge base",
            "type": "ai_embedding",
            "index": 0
          },
          {
            "node": "Supabase Vector Store",
            "type": "ai_embedding",
            "index": 0
          }
        ]
      ]
    },
    "Read Network": {
      "ai_tool": [
        [
          {
            "node": "Network Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Simple Memory5": {
      "ai_memory": [
        [
          {
            "node": "Ticket Agent1",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "OpenRouter Chat Model5": {
      "ai_languageModel": [
        [
          {
            "node": "Ticket Agent1",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Simple Memory6": {
      "ai_memory": [
        [
          {
            "node": "Billing Agent2",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "OpenRouter Chat Model6": {
      "ai_languageModel": [
        [
          {
            "node": "Billing Agent2",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Billing Agent2": {
      "main": [
        [
          {
            "node": "Respond to Post Paid Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Webhook1": {
      "main": [
        [
          {
            "node": "Ticket Agent1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenRouter Chat Model7": {
      "ai_languageModel": [
        [
          {
            "node": "Calendar Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Webhook": {
      "main": [
        [
          {
            "node": "Billing Agent2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Webhook2": {
      "main": [
        [
          {
            "node": "Calendar Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create an event in Google Calendar": {
      "ai_tool": [
        [
          {
            "node": "Calendar Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Calendar Agent": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Ticket Agent1": {
      "main": [
        [
          {
            "node": "Respond to Create Ticket Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "GET Ticket": {
      "ai_tool": [
        [
          {
            "node": "Ticket Agent1",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "POST Ticket": {
      "ai_tool": [
        [
          {
            "node": "Ticket Agent1",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "GET Customer Info": {
      "ai_tool": [
        [
          {
            "node": "Billing Agent2",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Upload your file here": {
      "main": [
        [
          {
            "node": "Extract from File",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract from File": {
      "main": [
        [
          {
            "node": "Split Out",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Default Data Loader": {
      "ai_document": [
        [
          {
            "node": "Supabase Vector Store",
            "type": "ai_document",
            "index": 0
          }
        ]
      ]
    },
    "Split Out": {
      "main": [
        [
          {
            "node": "Supabase Vector Store",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get availability in a calendar in Google Calendar": {
      "ai_tool": [
        [
          {
            "node": "Calendar Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": false
  },
  "versionId": "f6008fa0-0a93-4b93-8b4b-5221baed2ad1",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "6706564d2fe2eb9a69ad5152cc9c7ff9ced876386855f98d0502def674fe6a0d"
  },
  "id": "7R6pTfJ3QU8ipdxs",
  "tags": []
}