My workflow.json
{
  "name": "My workflow",
  "nodes": [
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.body.User_Request }}",
        "options": {
          "systemMessage": "# ROLE: Telco Security Firewall\nYou are a strict verification system. Your #1 rule is DATA PRIVACY. \nYou have access to \"customers\" and \"billings\" databases.\n\n# THE \"SILENT READ\" RULE (CRITICAL)\nWhen you use a tool to fetch customer data, you will see their Name, Email, and Phone.\n**YOU ARE FORBIDDEN FROM SPEAKING THESE VALUES.**\nYou may only output a database value IF AND ONLY IF the user has already typed that exact value in the chat.\n\n# VERIFICATION ALGORITHM (Execute Step-by-Step)\n\nSTEP 1: INITIAL INPUT\n- Ask for Name and Customer ID.\n- User says: \"I am [User_Input_Name], ID [User_Input_ID]\".\n\nSTEP 2: INTERNAL CHECK (Do This Silently)\n- Query the \"customers\" tool using [User_Input_ID].\n- Look at the \"name\" field in the result. Let's call this [DB_Real_Name].\n- COMPARE: Does [User_Input_Name] match [DB_Real_Name]?\n\nSTEP 3: THE DECISION POINT (Strict Branching)\n\n🔴 IF NAMES DO NOT MATCH:\n   - **STOP IMMEDIATELY.**\n   - OUTPUT THIS EXACT PHRASE: \"Identity verification failed. The name provided does not match the Customer ID in our records.\"\n   - **SECURITY BAN:** Do NOT say \"The ID belongs to Maria.\" Do NOT mention the real name. Do NOT ask for the email.\n\n🟢 IF NAMES MATCH:\n   - Say: \"Name confirmed. Please enter your registered email address to view billing details.\"\n   - Wait for [User_Input_Email].\n   - COMPARE [User_Input_Email] vs [DB_Real_Email].\n   - IF MISMATCH -> Say: \"Identity verification failed. Email does not match.\" (Do NOT reveal the real email).\n   - IF MATCH -> You may now fetch and show the billing info.\n\n# TECHNICAL SYNTAX\n- \"customer_id\" is a Number (e.g., 1002).\n- Do NOT use \"eq.\", quotes, or parentheses in the tool inputs.\n\n# FORMATTING RULES\n- Provide the response as a single, continuous line of text.\n- Do NOT use newlines (\\n), bullet points, or line breaks.\n- Use commas or semicolons to separate details instead."
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3.1,
      "position": [
        -592,
        80
      ],
      "id": "b592aa67-14cb-46fe-ba9b-e490fec5ee94",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "1",
        "contextWindowLength": 10
      },
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1.3,
      "position": [
        -592,
        288
      ],
      "id": "720c0941-d1a3-4ffc-ad7d-5e2d03890b19",
      "name": "Simple Memory"
    },
    {
      "parameters": {
        "model": "qwen/qwen3-coder",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenRouter",
      "typeVersion": 1,
      "position": [
        -720,
        288
      ],
      "id": "3107af29-dd8a-49d5-9983-84a8d7bc1a64",
      "name": "OpenRouter Chat Model",
      "credentials": {
        "openRouterApi": {
          "id": "Od2uyUY6uBLTrS0v",
          "name": "OpenRouter account"
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.5,
      "position": [
        -304,
        80
      ],
      "id": "5e4dacca-e80b-49f3-ab7d-d9bd51b5d8f2",
      "name": "Respond to Webhook"
    },
    {
      "parameters": {
        "model": "qwen3-embedding:8b"
      },
      "type": "@n8n/n8n-nodes-langchain.embeddingsOllama",
      "typeVersion": 1,
      "position": [
        -448,
        448
      ],
      "id": "5d207a38-1004-48de-9fa9-b339c72a8f43",
      "name": "Embeddings Ollama",
      "credentials": {
        "ollamaApi": {
          "id": "N2qFk7YnyMoyaZD4",
          "name": "Ollama account"
        }
      }
    },
    {
      "parameters": {
        "descriptionType": "manual",
        "toolDescription": "get billing information in supabase using the customer's 'customer_id'",
        "operation": "get",
        "tableId": "billings",
        "filters": {
          "conditions": [
            {
              "keyName": "customer_id",
              "keyValue": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('conditions1_Value', `The numeric ID of the customer (e.g., 1001). Do not provide strings or UUIDs.`, 'string') }}"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.supabaseTool",
      "typeVersion": 1,
      "position": [
        -144,
        288
      ],
      "id": "80481f1e-a13e-48c9-8842-dc6d39c3abcc",
      "name": "billings",
      "credentials": {
        "supabaseApi": {
          "id": "vymOy6EUH45nZ0Ug",
          "name": "Supabase account"
        }
      }
    },
    {
      "parameters": {
        "descriptionType": "manual",
        "toolDescription": "get customer account information using the customer's 'customer_id'",
        "operation": "get",
        "tableId": "customers",
        "filters": {
          "conditions": [
            {
              "keyName": "customer_id",
              "keyValue": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('conditions0_Value', `The numeric ID of the customer (e.g., 1001). Do not provide strings or UUIDs.`, 'string') }}"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.supabaseTool",
      "typeVersion": 1,
      "position": [
        -48,
        288
      ],
      "id": "7cf7450f-e822-4aa1-a96d-798fc836b89a",
      "name": "customers",
      "credentials": {
        "supabaseApi": {
          "id": "vymOy6EUH45nZ0Ug",
          "name": "Supabase account"
        }
      }
    },
    {
      "parameters": {
        "descriptionType": "manual",
        "toolDescription": "Retrieve ticket information from the database using either a ticket_id or a customer_id. \n\nUse this tool when the user asks about ticket status, existing support requests, issue progress, or support history. \n\nThis tool returns real-time ticket data from the system.\n",
        "operation": "get",
        "tableId": "tickets",
        "filters": {
          "conditions": [
            {
              "keyName": "ticket_id",
              "keyValue": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('conditions0_Field_Value', ``, 'string') }}"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.supabaseTool",
      "typeVersion": 1,
      "position": [
        48,
        288
      ],
      "id": "99762741-1c37-4499-abad-71463db55924",
      "name": "tickets",
      "credentials": {
        "supabaseApi": {
          "id": "vymOy6EUH45nZ0Ug",
          "name": "Supabase account"
        }
      }
    },
    {
      "parameters": {
        "descriptionType": "manual",
        "toolDescription": "get network status from a location using the information provided by the user like their location id, city, and area code.",
        "operation": "getAll",
        "tableId": "network_status"
      },
      "type": "n8n-nodes-base.supabaseTool",
      "typeVersion": 1,
      "position": [
        144,
        288
      ],
      "id": "cf251258-76c8-4767-a39e-9c6e54126c0d",
      "name": "network status",
      "credentials": {
        "supabaseApi": {
          "id": "vymOy6EUH45nZ0Ug",
          "name": "Supabase account"
        }
      }
    },
    {
      "parameters": {
        "mode": "retrieve-as-tool",
        "toolDescription": "contains about frequently asked questions by customers",
        "tableName": {
          "__rl": true,
          "value": "general knowledge",
          "mode": "list",
          "cachedResultName": "general knowledge"
        },
        "topK": 0,
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.vectorStoreSupabase",
      "typeVersion": 1.3,
      "position": [
        -448,
        304
      ],
      "id": "987f22b0-de6f-4361-90d1-b12a52cf5cae",
      "name": "knowledge base",
      "credentials": {
        "supabaseApi": {
          "id": "vymOy6EUH45nZ0Ug",
          "name": "Supabase account"
        }
      }
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "testing",
        "responseMode": "responseNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        -768,
        80
      ],
      "id": "c89b2d27-ba81-4ad2-80a2-1b57c49be247",
      "name": "Webhook",
      "webhookId": "3202ed58-9850-4cd8-b4e0-fe0c57066032"
    },
    {
      "parameters": {
        "content": "## run before doing anything else\n- delete all nodes\n- import 'My workflow.json'\n\nin terminal:\n- docker compose down\n- docker compose up\n",
        "height": 224,
        "color": 4
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        0,
        0
      ],
      "id": "1b3c5ad8-9a38-40f1-8058-8e586423a03a",
      "name": "Sticky Note"
    }
  ],
  "pinData": {},
  "connections": {
    "Simple Memory": {
      "ai_memory": [
        [
          {
            "node": "AI Agent",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Embeddings Ollama": {
      "ai_embedding": [
        [
          {
            "node": "knowledge base",
            "type": "ai_embedding",
            "index": 0
          }
        ]
      ]
    },
    "OpenRouter Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "billings": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "customers": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "tickets": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "network status": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "knowledge base": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Webhook": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": false
  },
  "versionId": "192170d1-1a16-4a2d-9c7a-62a256638873",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "00e5ff37b51a60791146217869936d1273dbfd4aee48938d13aa7629f378217a"
  },
  "id": "PlL1S4pnnNabrpBr5VkN5",
  "tags": []
}